
<div class="card bg-blue">
        <div class="top-buttons">
            <div class="buttons-center">
              <button id="button-home">Home</button>
              <button id="button-Initiatives">Initiatives</button>
              <button id="button-Login">Login</button>
            </div>          
        </div>
        <div class="startup-portal">
            Startup <br> Portal
        </div>
    </div>

  <div class="aim-holder">
    <div class=" bg-white">
        <head>
            <style>
                h1 {text-align: center;}
            </style>
        </head>
        <div class="body">
            <h1>
                AIM
            </h1>
            <p> A platform to provide visibility to all the current student startups of IIT Bombay amongst the Angel Investors and Venture Capitalist Network. It is a go-to place for all our IITB initiatives and events and a forum to post all your public queries, internship offers and requests that you want to be circulated amongst the students.
            
            </p>
            <h1>EnB-Entrepreneurship and Business Club</h1>

            <p> The EnB Club is an initiative under the umbrella of E-Cell IIT Bombay. It promotes and fosters entrepreneurship in the institute. We aim to cultivate, grow and nurture a healthy and active entrepreneurial ecosystem. Through a series of year-round events and activities, we guide the institute students through their startup journey.
            </p>        

        </div>
        <div class="listing">
            <div class="list1">
                <ul class="un-list">
                    <li>Lecture Series</li>
                    <li>Informal Sessions</li>
                    <li>Games like Virtual Stock Market,
                        Business Simulation, Wolf of Wall Street,
                        Treasure Hunt,etc.
                    </li>
                    <li>
                        Events like 'EnPro - Startup Bootcamp', 'Movie Screening', and 'Startup Expo'
                    </li>
                </ul>
            </div>
            <div class="list2">
                <ul class="un-list">
                    <li>Online Quizes</li>
                    <li>Workshops</li>
                    <li>Field Trip - Students Day Out</li>
                    <li>Various Platforms like idea Validation Platform, Startup Services Platform, and Investment Platform</li>
                </ul>
            </div>
        </div>
        <div class="body">
            <h1>
                Register / Login
            </h1>
            <div class='register-buttons'>
                <div class='button-container'>
                  <button class='button button-secondary' type='button'>
                    For Startups
                  </button>
                  <button class='button button-primary' type='button'>
                    For Investors
                  </button>
                </div>
            </div>
            <h1>
                List of Startups from IIT Bombay
            </h1>
            <section>
                <div class="main-tbl">
                    <div class="tbl-header">
                        <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                            <th>Startup Name</th>
                            <th>Founder Name</th>
                            <th>Stage</th>
                            <th>Description</th>
                            <th>Linkedin</th>
                            </tr>
                        </thead>
                        </table>
                    </div>
                    <div class="tbl-content">
                        <tbody>
                            <tr>
                            <td>AAC</td>
                            <td>AUSTRALIAN COMPANY </td>
                            <td>$1.38</td>
                            <td>+2.01</td>
                            <td>-0.36%</td>
                            </tr>
                        </tbody>
                    </div>
                </div>
            </section>
            

    </div>
  </div>
    <div class="footer">
        <div class="profile-info">
            <div class="contact">
                <h2>Contact Us</h2>
            </div>
            <div class="contact-card">
                <div class="profile">
                    <div class="profile-img">
                        <img src="../../assets/images/profile.jpg" alt="">
                    </div>
                    <div class="profile-content">
                        <h3>Sidhhant Osatwal</h3>
                        <h4>Phone Number</h4>
                        <h4>Email Id</h4>
                    </div>
                
                </div>
                <div class="profile">
                    <div class="profile-img">
                        <img src="../../assets/images/profile.jpg" alt="">
                    </div>
                    <div class="profile-content">
                        <h3>Aditya Maheshwari</h3>
                        <h4>Phone Number</h4>
                        <h4>Email Id</h4>
                    </div>
                
                </div>
            </div>
        </div>
        <div class="right-footer">
            <div class="right">
                <div>
                    <h2>Follow Us</h2>
                </div>
                <div class="icons-img">
                    <div>
                        <div class="l1">
                            <img src="../../assets/images/profile.jpg" alt="">
                            <img src="../../assets/images/profile.jpg" alt="">
                            <img src="../../assets/images/profile.jpg" alt="">
                        </div>
                    </div>
                    <div>
                        <div class="l1">
                            <img src="../../assets/images/profile.jpg" alt="">
                            <img src="../../assets/images/profile.jpg" alt="">
                            <img src="../../assets/images/profile.jpg" alt="">
                            <img src="../../assets/images/profile.jpg" alt="">
                        </div>
                    </div>

                </div>
                <h2>For Queries</h2>
                <div class="mail">
                    <div class="mail-img">
                        <img src="../../assets/images/mail.jpg" alt="">
                    </div>
                    <div class="mail-id">
                        <h4>ecell@iitb.ac.in</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
